body {
  margin: 10;
  padding: 10;
  background: white;
}

.carrois-gothic-regular {
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutme-picture {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab:hover {
  color: green;
}

.tab-content {
  margin-left: 1px;
  margin-right: 1px;
  background: #f0f2ef;
  border: 20px solid #f0f2ef;
  
}

.minitab {
  cursor: pointer;
  padding: 10px;
  justify-content: space-around;
  list-style-type: none;
}

.minitab:hover {
  color: green;
}
 
a:link, a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #afd5aa;
  background-color: transparent;
  text-decoration: underline;
}


div.scroll-container {
  background-color: #31572c;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

div.scrollcontainer {
  background-color: #31572c;
  width: auto;
  height: auto;
  overflow-y: scroll;
  padding: 10px;
}

div.scrollcontainer img {
  padding: 10px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/*  colors:
#f0f2ef - white smoke
#afd5aa - celadon
#4f772d - fern green
#31572c - hunter green
#132a13 - dark green
*/